* {
    margin: 0;
    padding: 0;
}

body {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(macaco-ouvindo-musica-macaco.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#div-principal {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    width: 100%;
}

#div-resultado {
    margin-top: 50px;
    margin-bottom: 40px;
}


